/* 100 Grid System */

*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* variables  */
$gutterSpace : 15px;

/* columns */
[class*="sfCol_"]
{
    float: left;
    min-height: 1px;
    position: relative;
}

.sfInnerwrapper  [class*="sfCol_"], .gutterSpace
{ padding:0px $gutterSpace;}

.sfInnerwrapper .sfMoreblocks, .sfInnerwrapper .sfMoreblocks .sfColswrap
{
    margin:0px (-$gutterSpace);
}
 .sfMoreblocks:before, .sfMoreblocks:after
{
 visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;
}

/* Looping from 0 to 100 */

@for $i from 1 through 100 {
 
    .sfCol_#{$i} {width:1%*$i;}
}

/* Equal Width Calibration */
.sfFixed.sfCol_33 {
    width:(100%/3);
}
.sfFixed.sfCol_16 {
    width:(100%/6);
}
